.about {
  @media (max-width: $mobile-width-max) {
    padding: 20px 0;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 40px 48px 43px 0;
  }

  @media (min-width: $desktop-width-min) {
    padding: 100px 120px 100px 0;
  }
}

.about__main-container {
  margin: 0 auto;
  display: flex;
  align-items: center;

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    width: 320px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: $tablet-width-min;
  }

  @media (min-width: $desktop-width-min) {
    width: $desktop-width-min;
    justify-content: flex-start;
  }
}

.about__image {
  @media (max-width: $mobile-width-max) {
    margin-bottom: 16px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-bottom: 45px;
  }
}

.about__text-container {
  @media (max-width: $mobile-width-max) {
    margin: 0 auto;
    width: $mobile-content-width;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: 270px;
  }

  @media (min-width: $desktop-width-min) {
    align-self: flex-start;
    margin: 0;
    width: 585px;
  }

  h2 {
    position: relative;
    margin: 0;
    font-weight: 800;
    text-align: start;
    z-index: 1;

    @media (max-width: $mobile-width-max) {
      margin-bottom: 43px; // 42
      font-size: 22px;
      line-height: 22px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      margin-top: 20px;
      margin-bottom: 46px;
      font-size: 25px;
      line-height: 25px;
    }

    @media (min-width: $desktop-width-min) {
      margin-top: 45px;
      margin-bottom: 57px;
      font-size: 35px;
      line-height: 35px;
    }
  }

  h2::before {
    content: attr(data-title);
    position: absolute;
    display: block;
    left: 0;
    top: -15px;
    z-index: -1;

    font-weight: 800;
    color: rgba(45, 56, 63, 0.03);

    @media (max-width: $mobile-width-max) {
      bottom: 50%;
      font-size: 26px;
      line-height: 26px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      font-size: 40px;
      line-height: 40px;
    }

    @media (min-width: $desktop-width-min) {
      font-size: 55px;
      line-height: 55px;
    }
  }

  h3 {
    margin: 0;
    font-weight: 700;

    @media (max-width: $mobile-width-max) {
      margin-bottom: 13px; // 15
      font-size: 16px;
      line-height: 16px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      margin-bottom: 13px;
      font-size: 18px;
      line-height: 18px;
    }

    @media (min-width: $desktop-width-min) {
      margin-bottom: 20px;
      font-size: 21px;
      line-height: 21px;
    }
  }

  p {
    margin: 0;

    @media (max-width: $mobile-width-max) {
      margin-bottom: 27px; // 25
      font-size: 14px;
      line-height: 20px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      margin-bottom: 28px;
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width-min) {
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 22px;
    }
  }

  p:last-child {
    @media (max-width: $tablet-width-max) {
      margin-bottom: 0;
    }
  }

  br {
    @media (max-width: $tablet-width-max) {
      display: none;
    }
  }
}
