.advantages {
  @media (max-width: $mobile-width-max) {
    padding: 36px 15px 20px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 60px 45px 40px;
  }

  @media (min-width: $desktop-width-min) {}
}

.advantages__main-container {
  margin: 0 auto;

  @media (max-width: $mobile-width-max) {
    width: $mobile-content-width;
  }
}

.advantages__title {
  margin: 0;
  font-weight: 800;
  text-align: center;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 37px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-bottom: 60px;
  }
}

.advantages__title::before {
  left: 36px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: $mobile-width-max) {
    justify-content: space-between;
    gap: 14px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    justify-content: center;
    gap: 30px;
  }
}

.advantages__item {
  position: relative;
  border: 1px solid rgba(2, 102, 193, 0.1);
  text-align: center;

  @media (max-width: $mobile-width-max) {
    padding: 81px 9px 20px 9px;
    width: 290px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 102px 19px 30px;
    width: 324px;
    height: 340px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid $extra-color;

    @media (max-width: $mobile-width-max) {
      top: 40px;
      width: 42px;
      height: 42px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      top: 53px;
      width: 48px;
      height: 48px;
    }

  }

  h3 {
    margin: 0;
    font-weight: 600;

    @media (max-width: $mobile-width-max) {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 14px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 16px;
    }
  }

  p {
    margin: 0;

    @media (max-width: $mobile-width-max) {
      font-size: 12px;
      line-height: 18px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      width: 284px;
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.advantages__item--safety::before {
  background-image: url("/__spritemap#sprite-safety-view");
}

.advantages__item--crown::before {
  background-image: url("/__spritemap#sprite-crown-view");
}

.advantages__item--boot::before {
  background-image: url("/__spritemap#sprite-blue-boot-view");
}

.advantages__item--map::before {
  background-image: url("/__spritemap#sprite-way-view");
}

.advantages__item--leaf::before {
  background-image: url("/__spritemap#sprite-leaf-view");
}
