.advantages {
  @media (max-width: $mobile-width-max) {
    padding: 36px 0 18px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 60px 0 40px;
    background-image:
      image-set(url("../../img/adv/background/adv-clouds-tablet@1x.webp") type("image/webp") 1x,
      url("../../img/adv/background/adv-clouds-tablet@2x.webp") type("image/webp") 2x,
      url("../../img/adv/background/adv-clouds-tablet@1x.png") type("image/png") 1x,
      url("../../img/adv/background/adv-clouds-tablet@2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top 160px center;
  }

  @media (min-width: $desktop-width-min) {
    position: relative;
    padding: 135px 0 183px;
  }
}

.advantages__main-container {
  margin: 0 auto;

  @media (max-width: $mobile-width-max) {
    padding: 0 15px;
    width: 320px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 0 45px;
    width: $tablet-width-min;
  }

  @media (min-width: $desktop-width-min) {
    width: $desktop-width-min;
  }
}

.advantages__title {
  margin: 0;
  font-weight: 800;
  text-align: center;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 37px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 50px;
  }
}

.advantages__title::before {
  @media (max-width: $mobile-width-max) {
    left: 36px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    left: 171px;
  }

  @media (min-width: $desktop-width-min) {
    left: 34%;
    top: -30px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: $mobile-width-max) {
    justify-content: space-between;
    gap: 14px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    justify-content: center;
    gap: 30px;
  }

  @media (min-width: $desktop-width-min) {
    flex-wrap: nowrap;
  }
}

.advantages__swiper .swiper-wrapper {
  width: 100%;
}

.advantages__list .swiper-slide {
  padding: 123px 19px 40px;
  width: 380px;
  height: 330px;
}

.advantages__item {
  position: relative;
  border: 1px solid rgba(2, 102, 193, 0.1);
  text-align: center;
  background-color: $basic-light-color;

  @media (max-width: $mobile-width-max) {
    padding: 81px 9px 20px;
    width: 290px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 101px 19px 30px;
    width: 324px;
    min-height: 340px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 123px 19px 40px;
    width: 380px;
    height: 330px;
    overflow: auto;
    overflow-x: hidden;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid $extra-color;

    @media (max-width: $mobile-width-max) {
      top: 40px;
      width: 42px;
      height: 42px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      top: 53px;
      width: 48px;
      height: 48px;
    }

    @media (min-width: $desktop-width-min) {
      top: 66px;
      width: 54px;
      height: 54px;
    }
  }

  h3 {
    margin: 0;
    font-weight: 600;
    margin-bottom: 15px;

    @media (max-width: $mobile-width-max) {
      font-size: 14px;
      line-height: 14px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      font-size: 16px;
      line-height: 16px;
    }

    @media (min-width: $desktop-width-min) {
      font-size: 18px;
      line-height: 18px;
    }
  }

  h3 > br {
    @media (min-width: $desktop-width-min) {
      display: none;
    }
  }

  p {
    margin: 0 auto;

    @media (max-width: $mobile-width-max) {
      font-size: 12px;
      line-height: 18px;
    }

    @media (min-width: $tablet-width-min) {
      width: 284px;
      font-size: 14px;
      line-height: 22px;
    }

    @media (min-width: $desktop-width-min) {
      width: 340px;
    }
  }

  p > br:first-child {
    @media (min-width: $tablet-width-min) {
      display: none;
    }
  }

  p > br:last-child {
    @media (max-width: $tablet-width-max) {
      display: none;
    }
  }

  p + p {
    margin-top: 5px; // при добавлении еще одного p, чтобы текст не слипался
  }
}

.advantages__item--safety::before {
  background-image: url("/__spritemap#sprite-safety-view");
}

.advantages__item--crown::before {
  background-image: url("/__spritemap#sprite-crown-view");
}

.advantages__item--boot::before {
  background-image: url("/__spritemap#sprite-blue-boot-view");
}

.advantages__item--map::before {
  background-image: url("/__spritemap#sprite-way-view");
}

.advantages__item--leaf::before {
  background-image: url("/__spritemap#sprite-leaf-view");
}

.advantages__buttons-container {
  @media (max-width: $tablet-width-max) {
    display: none;
  }

  @media (min-width: $desktop-width-min) {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
