.contacts {
  @media (max-width: $mobile-width-max) {
    padding: 16px 0px 20px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 20px 0px 40px;
  }

  @media (min-width: $desktop-width-min) {
    display: flex;
    align-items: center;
    width: $desktop-content-width;
    margin: 0 auto;
    margin-bottom: 95px;
  }

  p {
    @media (max-width: $mobile-width-max) {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 20px;
    }

    @media (min-width: $tablet-width-min) {
      width: 480px;
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width-min) {
      width: 500px;
      margin-bottom: 50px;
    }
  }
}

.contacts__main-container {
  @media (max-width: $mobile-width-max) {
    margin: 0 auto 30px auto;
    width: $mobile-content-width;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin: 0px 43px 40px 45px;
    width: 680px;
  }

  @media (min-width: $desktop-width-min) {
    width: 600px;
    margin-top: 19px;
  }
}

.contacts__title {
  @media (max-width: $mobile-width-max) {
    margin-bottom: 29px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 26px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}

.contacts__item {
  position: relative;

  @media (max-width: $mobile-width-max) {
    margin-left: 32px;
    margin-bottom: 30px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-left: 34px;
  }

  @media (min-width: $desktop-width-min) {
    margin-left: 56px;
    margin-bottom: 35px;
  }

  &::before {
    content: "";
    position: absolute;
    left: -21px;
    top: 11px;
    transform: translate(-50%, -50%);
    display: block;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: $mobile-width-max) {
      width: 22px;
      height: 22px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      width: 24px;
      height: 24px;
    }

    @media (min-width: $desktop-width-min) {
      width: 26px;
      height: 26px;
    }
  }
}

.contacts__item--phone::before {
  background-image: url("/__spritemap#sprite-phone-view");
}

.contacts__item--location::before {
  background-image: url("/__spritemap#sprite-location-dark-view");
}

.contacts__item--mail::before {
  background-image: url("/__spritemap#sprite-mail-view");
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__item-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 600;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 14px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 18px;
  }
}

.contacts__item-description {
  margin: 0;
  text-decoration: none;
  font-style: normal;
  color: $basic-dark-color;

  @media (max-width: $mobile-width-max) {
    font-size: 14px;
    line-height: 20px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 16px;
    line-height: 24px;
  }

  br {
    @media (min-width: $tablet-width-min) {
      display: none;
    }
  }
}

.contacts__map-image {
  display: block;
}
