.footer {
  @media (max-width: $mobile-width-max) {
    padding: 20px 0px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 40px 0px 20px 0px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 100px 0px 32px 0px;
  }
}

.footer__contacts {}

.footer__site-information::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(45, 56, 63, 0.2);

  @media (max-width: $mobile-width-max) {
    margin-bottom: 22px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 32px;
  }
}

.footer__site-information-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    gap: 18px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin: 0 auto;
    width: $tablet-content-width;
    gap: 34px;
    justify-content: center;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0 auto;
    justify-content: center;
    width: $desktop-content-width;
    gap: 22px;
  }
}

.footer__logo-link {
  line-height: 100%;

  @media (min-width: $desktop-width-min) {
    width: 200px;
    text-align: center;
  }
}

.footer__logo-icon {
  fill: $basic-dark-color;
}

.footer__navigation {
  @media (max-width: $tablet-width-max) {
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 16px;
    line-height: 16px;
  }
}

.footer__navigation-list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  @media (max-width: $mobile-width-max) {
    width: 290px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 120px));
    justify-items: center;
    row-gap: 7px;
    column-gap: 50px;
  }

  @media (min-width: $tablet-width-min) {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  @media (min-width: $desktop-width-min) {
    width: 766px; // 800
    min-height: 60px;
    align-items: center;
    justify-content: center;
    gap: 21px; // 10
  }

}

.footer__navigation-item {
  text-align: center;
  padding: 3px 5px;
  border: 1px solid transparent;

  @media (max-width: $mobile-width-max) {
    &:nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    &:nth-child(3) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
  }
}

.footer__navigation-link {
  color: $basic-dark-color;
  text-decoration: none;
}

.footer__phone-link {
  width: 189px;
  text-align: right;
  text-decoration: none;
  color: $basic-dark-color;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.footer__social-list {

}

.footer__policy {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  text-align: center;

  @media (max-width: $mobile-width-max) {
    margin-top: 6px;
  }

  @media (min-width: $tablet-width-min) {
    width: 100%;
  }
}
