.gallery {
  @media (max-width: $mobile-width-max) {
    padding: 36px 0px 3px; // 5
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    position: relative;
    padding: 60px 0px 3px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 119px 0px 5px;
  }

  p {
    @media (max-width: $mobile-width-max) {
      margin: 0 auto;
      margin-bottom: 31px;
      width: $mobile-content-width;
      font-size: 12px;
      line-height: 18px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      margin: 0 auto 21px 45px;
      width: 420px;
      font-size: 14px;
      line-height: 22px;
    }

    @media (min-width: $desktop-width-min) {
      margin: 0 auto 46px 120px;
      width: 600px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  br {
    @media (max-width: $mobile-width-max) {
      display: none;
    }

    @media (min-width: $desktop-width-min) {
      display: none;
    }
  }
}

.gallery__title {
  @media (max-width: $mobile-width-max) {
    margin: 0 auto 27px 15px;
    width: $mobile-content-width;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin: 0 auto 30px 45px;
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0 auto 27px 120px;
    width: $desktop-content-width;
  }
}

.gallery__swiper-wrapper {
  @media (min-width: $desktop-width-min) {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
}

.gallery__swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $mobile-width-max) {
    height: 266px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    height: 418px;
  }
}

.gallery__swiper-wrapper .gallery__slide {
  @media (min-width: $desktop-width-min) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.gallery__buttons-container {
  position: absolute;

  @media (max-width: $mobile-width-max) {
    display: none;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    top: 128px;
    right: 35px;
  }

  @media (min-width: $desktop-width-min) {
    display: none;
  }
}

.gallery__button--prev {
  background-color: $extra-color;
}
