.header {
  background-color: $extra-color;
  position: relative; // для кнопки меню и самого выпадающего меню

  @media (max-width: $mobile-width-max) {
    padding: 15px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 20px 45px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 41px 120px 39px;
  }
}

.header__main-container {
  margin: 0 auto;

  @media (max-width: $mobile-width-max) {
    width: $mobile-content-width;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width-min) {
    width: $desktop-content-width;
  }
}

.header__navigation {
  font-weight: 700;

  @media (max-width: $mobile-width-max) {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 4%;
    text-transform: uppercase;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 4%;
    text-transform: uppercase;
  }

  @media (min-width: $desktop-width-min) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(25px);
    font-weight: 400;
    font-size: 16px;
    font-size: 16px;
  }
}

.header__toggle {
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: $basic-light-color;
  border: none;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 2px;
    left: 0;
    top: 6px;
    z-index: 2;
    background-color: $basic-light-color;
  }

  &::after {
    top: 8px;
  }

  &::before {
    top: -8px;
  }

  @media (max-width: $mobile-width-max) {
    top: 27px;
    left: 15px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    top: 40px;
    left: 45px;
  }

  @media (min-width: $desktop-width-min) {
    display: none;
  }
}

.header__navigation-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: 26px;
    z-index: 2;
    background-color: $extra-color;
    color: $basic-light-color;

    @media (max-width: $mobile-width-max) {
      display: none;
      padding-top: 15px;
      padding-bottom: 50px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      display: none;
      padding-top: 50px;
      padding-bottom: 70px;
    }

    @media (min-width: $desktop-width-min) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 30px;
    }
}

.header__navigation-item {
  @media (max-width: $tablet-width-max) {
    margin-left: 15px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-left: 45px;
  }
}

.header__navigation-link {
  text-decoration: none;
  color: $basic-light-color;
}

.header__navigation--opened .header__toggle {
  transform: rotate(-45deg);
  width: 26px;
}

.header__navigation--opened .header__toggle::after {
  transform: rotate(90deg);
  top: 0;
}

.header__navigation--opened .header__toggle::before {
  display: none;
}

.header__navigation--opened .header__navigation-list {
  display: flex;
  position: absolute;
  left: 0;

  @media (max-width: $mobile-width-max) {
    top: 100px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    top: 82px;
  }
}

.header__links-container {
  @media (max-width: $mobile-width-max) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 11px;
    width: 150px;
    margin-left: auto;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 410px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width-min) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $desktop-content-width;
  }
}

.header__logo-link {
  @media (min-width: $desktop-width-min) {
    margin-left: 32px;
  }
}

.header__logo-icon {
  fill: $basic-light-color;
}

.header__phone-link {
  text-decoration: none;
  font-family: $main-font;
  font-weight: 600;
  color: $basic-light-color;

  @media (max-width: $mobile-width-max) {
    font-size: 14px;
    line-height: 14px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width-min) {
    font-size: 18px;
    line-height: 18px;
  }
}
