.navigation {
  font-weight: 700;

  @media (max-width: $mobile-width-max) {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 4%;
    text-transform: uppercase;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 4%;
    text-transform: uppercase;
  }

  @media (min-width: $desktop-width-min) {
    font-weight: 400;
    font-size: 16px;
    font-size: 16px;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 26px;
  z-index: 2;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.navigation__item {
  @media (max-width: $tablet-width-max) {
    margin-left: 15px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-left: 45px;
  }
}

.navigation__link {
  text-decoration: none;
  color: inherit; // наследуется цвет который задан блоку navigation (в footer и header задаем нцжный цвет)
}
