.reviews {
  @media (max-width: $mobile-width-max) {
    padding: 36px 0 20px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    position: relative;
    padding: 60px 0 40px;
  }

  @media (min-width: $desktop-width-min) {
    position: relative;
    padding: 145px 0 77px;
  }
}

.reviews__main-container {
  @media (max-width: $mobile-width-max) {
    margin: 0 auto;
    width: calc($mobile-content-width + 20px);
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin: 0;
    margin-left: 45px;
    width: 723px;
  }

  @media (min-width: $desktop-width-min) {
margin: 0;
margin-left: 130px;
width: 1320px;
  }
}

.reviews__title {
  font-weight: 800;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 22px;
    margin-left: 10px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width-min) {
    margin-left: -10px;
    margin-bottom: 35px; // 28
  }
}

.reviews__swiper {
  @media (max-width: $mobile-width-max) {
  min-height: calc(484px + 20px);
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    min-height: calc(277px + 20px);
  }

  @media (min-width: $desktop-width-min) {
    min-height: calc(293px + 20px);
  }
}

.reviews__swiper .swiper-slide {
  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
  width: 565px;
  }

  @media (min-width: $desktop-width-min) {
  width: 700px;
  }
}

.reviews__slide-container {
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(28, 51, 116, 0.1);

  @media (max-width: $mobile-width-max) {
    width: 290px;
    height: 484px;
  }

  @media (min-width: $tablet-width-min) {
    margin: 0;
    width: 565px;
    height: 277px;
    display: flex;
    gap: 30px;
  }

  @media (min-width: $desktop-width-min) {
    width: 700px;
    height: 293px;
  }

  p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;

    @media (min-width: $desktop-width-min) {
    font-size: 14px;
    line-height: 22px;
    }
  }

  p + p {
    margin-bottom: 0px;
  }

  p:first-child {
    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-top: 4px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.reviews__image {
  @media (max-width: $mobile-width-max) {
    margin-bottom: 15px;
  }
}

.reviews__text-container {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $desktop-width-min) {
    width: 352px;
  }
}

.reviews__reviewer {
  margin: 0;
  font-weight: 700;

  @media (max-width: $mobile-width-max) {
    margin-top: 16px;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 12px;
  }

  @media (min-width: $tablet-width-min) {
    margin-top: auto;
    margin-bottom: 6px;
    font-size: 13px;
    line-height: 13px;
  }
}

.reviews__reviewer-parameters {
  margin: 0;
  font-weight: 300;

  font-size: 12px;
  line-height: 12px;
}

.reviews__buttons-container {
  position: absolute;

  @media (max-width: $mobile-width-max) {
    display: none;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    top: 40px;
    right: 35px;
  }

  @media (min-width: $desktop-width-min) {
    top: 128px;
    right: 110px;
  }
}
