.reviews {
  @media (max-width: $mobile-width-max) {
    padding: 36px 0 10px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 60px 0 30px;
  }

  @media (min-width: $desktop-width-min) {
    position: relative;
    padding: 145px 0 79px;
  }

  &::before {
    @media (min-width: $desktop-width-min) {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 318px;
      left: 0;
      background-image:
        image-set(url("../../img/reviews/background/reviews-clouds-desktop@1x.webp") type("image/webp") 1x,
          url("../../img/reviews/background/reviews-clouds-desktop@2x.webp") type("image/webp") 2x,
          url("../../img/reviews/background/reviews-clouds-desktop@1x.png") type("image/png") 1x,
          url("../../img/reviews/background/reviews-clouds-desktop@2x.png") type("image/png") 2x);
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: -1;
    }
  }
}

.reviews__main-container {
  margin: 0 auto;

  @media (max-width: $mobile-width-max) {
    width: calc($mobile-content-width + 20px);
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    position: relative;
    width: 768px;
  }

  @media (min-width: $desktop-width-min) {
    position: relative;
    width: 1440px;
  }
}

.reviews__title {
  font-weight: 800;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 22px;
    margin-left: 10px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: 500px;
    margin-bottom: 25px;
    margin-left: 45px;
  }

  @media (min-width: $desktop-width-min) {
    width: 1000px;
    margin-left: 120px;
    margin-bottom: 27px;
  }
}

.reviews__swiper {
  @media (max-width: $mobile-width-max) {
    min-height: calc(484px + 20px);
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    min-height: calc(277px + 20px);
  }

  @media (min-width: $desktop-width-min) {
    min-height: calc(293px + 20px);
  }
}

.reviews__swiper-wrapper {
  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 10px 0 10px 45px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 10px 0 10px 130px;
  }
}

.reviews__swiper .swiper-slide {
  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: 565px;
  }

  @media (min-width: $desktop-width-min) {
    width: 700px;
  }
}

.reviews__slide-container {
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(28, 51, 116, 0.1);
  background-color: $basic-light-color;
  overflow: auto;

  @media (max-width: $mobile-width-max) {
    width: 290px;
    height: 484px;
  }

  @media (min-width: $tablet-width-min) {
    margin: 0;
    width: 565px;
    height: 277px;
    display: flex;
    gap: 30px;
  }

  @media (min-width: $desktop-width-min) {
    width: 700px;
    height: 293px;
  }

  p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;

    @media (min-width: $desktop-width-min) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  p+p {
    @media (min-width: $desktop-width-min) {
      margin-bottom: 0px;
    }
  }

  p:first-child {
    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      margin-top: 4px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }

  h3+p {
    line-height: 12px;
    font-size: 12px;
  }
}

.reviews__image {
  @media (max-width: $mobile-width-max) {
    margin-bottom: 14px;
  }
}

.reviews__text-container {
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width-max) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-width-min) {
    width: 352px;
  }
}

.reviews__reviewer {
  margin: 0;
  font-weight: 700;

  @media (max-width: $mobile-width-max) {
    margin-top: 6px;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 12px;
  }

  @media (min-width: $tablet-width-min) {
    margin-top: 15px;
    margin-bottom: 6px;
    font-size: 13px;
    line-height: 13px;
  }

  @media (min-width: $desktop-width-min) {
    margin-top: 3px;
    margin-bottom: 8px;
  }
}

.reviews__reviewer-parameters {
  margin: 0;
  font-weight: 300;

  font-size: 12px;
  line-height: 12px;
}

.reviews__buttons-container {
  position: absolute;

  @media (max-width: $mobile-width-max) {
    display: none;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    top: -18px;
    right: 35px;
  }

  @media (min-width: $desktop-width-min) {
    top: -17px;
    right: 110px;
  }
}

.advantages__button--prev {
  background-color: $extra-color;
}
