.tours {
  @media (max-width: $mobile-width-max) {
    padding: 36px 15px 20px;
    background-image: url("../../img/tours/clouds/clouds-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: bottom -12px right;
    background-size: 45%;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    position: relative; // для кнопок слайдера
    padding: 60px 45px 40px;
  }

  @media (min-width: $desktop-width-min) {
    position: relative; // для кнопок слайдера
    padding: 122px 120px 100px;
  }
}

.tours__main-container {
  margin: 0 auto;
  text-align: center;

  @media (max-width: $mobile-width-max) {
    width: $mobile-content-width;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width-min) {
    width: $desktop-content-width;
  }
}

.tours__title {
  @media (max-width: $mobile-width-max) {
    margin-bottom: 42px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 51px;
  }
}

.tours__swiper {
  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 28px;
  }
}

.tours__swiper .swiper-slide {
  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    all: unset;
    width: 330px;
  }

  @media (min-width: $desktop-width-min) {
    width: 390px;
  }
}

.tours__slide {
  position: relative;
  margin-bottom: 20px;
}

.tours__text-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  z-index: 3;

  height: 416px;
  padding: 30px 20px;
  color: $basic-light-color;

  @media (max-width: $mobile-width-max) {
    width: 290px;
    gap: 16px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: 330px;
    gap: 15px;
  }

  @media (min-width: $desktop-width-min) {
    width: 380px;
    gap: 16px;
  }
}

.tours__details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.tours__details {
  position: relative;
  display: inline;
  margin: 0;
  padding: 8px 0 8px 32px;

  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  text-align: start;

  &::before {
    content: "";
    position: absolute;
  }
}

.tours__details--location {
  margin-right: -9px;
  padding: 8px 12px 8px 34px;
  background-color: $extra-color;

  &::before {
    width: 9px;
    height: 12px;
    left: 16px;
    top: 7px;
    background-image: url("/__spritemap#sprite-location-view");
  }
}

.tours__duration-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.tours__details--days {
  &::before {
    width: 20px;
    height: 20px;
    left: 0;
    top: 3px;
    background-image: url("/__spritemap#sprite-sun-view");
  }
}

.tours__details--nights {
  justify-self: end;

  &::before {
    width: 17px;
    height: 17px;
    left: 1px;
    top: 5px;
    background-image: url("/__spritemap#sprite-moon-view");
  }
}

.tours__card-title {
  margin: 0;
  padding-right: 25px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: start;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 5px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 6px;
    padding-right: 80px;
  }
}

// таблица с параметрами (дата, сложность, группа)
.tours__parameters {
  position: relative;
  text-align: left;
  border-collapse: separate;

  @media (max-width: $mobile-width-max) {
    margin: 0 -4px;
    margin-bottom: -8px;
    border-spacing: 4px 5px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin: 0 -28px;
    margin-bottom: -5px;
    border-spacing: 26px 3px;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0px -12px;
    border-spacing: 12px 4px;
    margin-bottom: -5px;
  }
}

.tours__parameters::before {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);

  @media (max-width: $mobile-width-max) {
    top: -6px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    top: -11px;
  }

  @media (min-width: $desktop-width-min) {
    top: -7px;
  }
}

.tours__parameters-title {
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
}

.tours__parameters-title--difficulty {
  @media (max-width: $mobile-width-max) {
    width: 95px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: 100px;
  }

  @media (min-width: $desktop-width-min) {
    width: 125px;
  }
}

.tours__parameters-title--dates {
  @media (max-width: $mobile-width-max) {
    width: 98px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: 111px;
  }

  @media (min-width: $desktop-width-min) {
    width: 122px; // 120
  }
}

.tours__parameters-title--group {
  @media (max-width: $mobile-width-max) {
    width: 75px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: 86px;
  }

  @media (min-width: $desktop-width-min) {
    width: 69px; // 71
  }
}

.tours__parameters-item {
  padding: 0;
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
}

// рейтинг
.tours__rate {
  @media (max-width: $tablet-width-max) {
    margin-left: 2px;
  }

  @media (min-width: $desktop-width-min) {
    margin-left: 3px;
  }
}

.tours__star {
  display: inline-block;
  width: 16px;
  height: 16px;
  mask-image: url("/__spritemap#sprite-empty-star-view");
  mask-repeat: no-repeat;
  background-color: $basic-light-color;
  margin-left: -2px;

  @media (min-width: $desktop-width-min) {
    margin-left: -3px;
  }
}

.tours__star--active {
  mask-image: url("/__spritemap#sprite-full-star-view");
}

// swiper настройки
.tours__buttons-container {
  position: absolute;

  @media (max-width: $mobile-width-max) {
    display: none;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    top: 42px;
    right: 35px;
  }

  @media (min-width: $desktop-width-min) {
    top: 102px;
    right: 110px;
  }
}

// кнопка показать все туры
.tours__show-all {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-family: $main-font;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $basic-dark-color;
  text-decoration: none;
  border: none;
  background-color: transparent;
  padding: 10px 34px 10px 15px;
  margin: 0 auto;

  @media (max-width: $mobile-width-max) {
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $tablet-width-min) {
    font-size: 16px;
    line-height: 16px;
  }
}

.tours__show-all::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  right: 13px;
  width: 9px;
  height: 16px;
  mask-image: url("/__spritemap#sprite-right-arrow-view");
  mask-repeat: no-repeat;
  background-color: $basic-dark-color;
}
