.training {
  @media (max-width: $mobile-width-max) {
    padding: 36px 15px 20px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    padding: 60px 45px 40px;
    background-image:
      image-set(url("../../img/training/background/training-clouds-tablet@1x.webp") type("image/webp") 1x,
      url("../../img/training/background/training-clouds-tablet@2x.webp") type("image/webp") 2x,
      url("../../img/training/background/training-clouds-tablet@1x.png") type("image/png") 1x,
      url("../../img/training/background/training-clouds-tablet@2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
    background-size: 73%;
    background-position: bottom 119px left 249px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 59px 120px 62px;
    background-image:
      image-set(url("../../img/training/background/training-clouds-desktop@1x.webp") type("image/webp") 1x,
      url("../../img/training/background/training-clouds-desktop@2x.webp") type("image/webp") 2x,
      url("../../img/training/background/training-clouds-desktop@1x.png") type("image/png") 1x,
      url("../../img/training/background/training-clouds-desktop@2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: bottom -33px left 796px;
  }
}

.training__main-container {
  margin: 0 auto;

  @media (max-width: $mobile-width-max) {
    width: $mobile-content-width;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    position: relative;
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width-min) {
    position: relative;
    width: $desktop-content-width;
  }

  p {
    margin: 0;

    @media (max-width: $mobile-width-max) {
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 20px;
    }

    @media (min-width: $tablet-width-min) {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width-min) {
      width: 820px;
      margin-bottom: 62px;
    }
  }

  br {
    @media (max-width: $mobile-width-max) {
      display: none;
    }

    @media (min-width: $desktop-width-min) {
      display: none;
    }
  }
}

.training__title {
  margin-bottom: 35px;
}

.training__subtitle {
  margin: 0;
  font-weight: 800;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 22px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: 500px;
    margin-bottom: 36px;
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width-min) {
    width: 1000px;
    margin-bottom: 16px;
    font-size: 35px;
    line-height: 35px;
  }
}

.training__swiper {
  @media (max-width: $tablet-width-max) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 56px;
  }
}

.training__slide {
  @media (max-width: $mobile-width-max) {
    width: 390px;
    height: 356px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: 212px;
    height: 388px;
    background-color: $basic-light-color;
  }

  @media (min-width: $desktop-width-min) {
    width: 285px;
    height: 356px;
    background-color: $basic-light-color;
  }
}

.training__slide-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 200px min-content min-content;
  row-gap: 15px;
  column-gap: 10px;
  padding: 14px;
  border: 1px solid rgba(2, 102, 193, 0.1);
  overflow-y: scroll;

  @media (max-width: $mobile-width-max) {
    height: 356px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    grid-template-columns: 147px 24px;
    width: 212px;
    height: 388px;
  }

  @media (min-width: $desktop-width-min) {
    width: 285px;
    height: 356px;
  }

  h4 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;

    @media (max-width: $mobile-width-max) {
      width: min-content;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      word-break: break-word;
    }

    @media (min-width: $desktop-width-min) {
      width: min-content;
    }
  }

  p {
    margin: 0;
    width: auto;
    font-size: 12px;
    line-height: 16px;
    grid-column: 1 / 3;
  }
}

.training__image-container {
  grid-column: 1 / 3;
  height: 200px;

  @media (max-width: $mobile-width-max) {
    width: 100%;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: 100%;
  }
}

.training__image {
  width: 260px;
  height: 200px;

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    width: 100%;
  }

  @media (min-width: $desktop-width-min) {
    width: 255px;
  }
}

.training__vk-link {
  justify-self: flex-end;
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(45, 56, 63, 0.3);

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 23px;
    height: 23px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $basic-dark-color;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-image: url("/__spritemap#sprite-vk-view");
    mask-size: 14px 8px;
  }

  &:hover {
    border: 1px solid $basic-dark-color;
  }

  &:focus {
    border: 1px solid $basic-light-color;
  }

  &:active {
    background-color: $extra-color;
    border: 1px solid $extra-color;
  }

  &:active::before {
    background-color: $basic-light-color;
  }

  &:disabled,
  &-disabled {
    border: 1px solid rgba(45, 56, 63, 0.3);
  }

  &:disabled::before,
  &-disabled::before {
    background-color: rgba(45, 56, 63, 0.3);
  }
}

.training__buttons-container {
  position: absolute;

  @media (max-width: $mobile-width-max) {
    display: none;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    top: 140px;
    right: -10px;
  }

  @media (min-width: $desktop-width-min) {
    top: 159px;
    right: -10px;
  }
}

.training__process-title {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 16px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-bottom: 102px;
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 31px;
    font-size: 21px;
    line-height: 21px;
  }
}

.training__process-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-color: $extra-color;

    @media (max-width: $mobile-width-max) {
      width: 2px;
      height: 85%;
      top: 17px;
      left: 6px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      display: none;
    }

    @media (min-width: $desktop-width-min) {
      width: calc(100% - 14px);
      height: 2px;
      bottom: -8px;
    }
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 104px;
    width: 666px;
  }

  @media (min-width: $desktop-width-min) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
}

.training__process-item {
  position: relative;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 25px;
    margin-left: 63px;
    width: 200px;
    font-size: 12px;
    line-height: 18px;
  }

  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    margin-left: 35px;
    width: 225px;
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width-min) {
    margin-left: 45px;
    width: 198px;
    min-height: 72px;
    font-size: 16px;
    line-height: 24px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $extra-color;

    @media (max-width: $mobile-width-max) {
      top: 10px;
      left: -63px;
    }

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      display: none;
    }

    @media (min-width: $desktop-width-min) {
      bottom: -15px;
      left: -24px;
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -33px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;

    @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
      top: 3px;
      left: -35px;
    }
  }
}

.training__process-item:last-child {
  margin-bottom: 0;
}

.training__process-item--map {
  &::before {
    background-image: url("../../__spritemap#sprite-map-view");
  }
}

.training__process-item--boot {
  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    order: 2;
  }

  &::before {
    background-image: url("../../__spritemap#sprite-boot-view");
  }
}

.training__process-item--pine {
  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    order: 3;
  }

  @media (min-width: $desktop-width-min) {
    &::after {
      left: -45px;
    }
  }

  &::before {
    background-image: url("../../__spritemap#sprite-pine-tree-view");
  }
}

.training__process-item--mountain {
  @media ((min-width: $tablet-width-min) and (max-width: $tablet-width-max)) {
    order: 1;
  }

  &::before {
    background-image: url("../../__spritemap#sprite-mountain-view");
  }
}
