/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  // font-family: $main-font;
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 22px;
  // color: $basic-dark;
  // background-color: $basic-light;
}

picture,
source {
  display: contents;
}

img {
  object-fit: contain;
}
